*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  font-family: 'BlinkMacSystemFont', Arial, sans-serif;
  font-size: 10px;
}

nav, h1, .statusbar, .map, .bus-list {
  margin: 0 auto;
}

body, .container {
  width: 375px;
}

h3, .arrow-left, .info-icon, .map, .busnumber-list {
  display: block;
}


/* nav element styling */

.statusbar {
    background: url(../images/statbar.png) no-repeat center;
    width: 98%;
    height: 20px;
}

.arrow-left {
  padding: 5px 10px 0px 5px;
}

.info-icon {
  float: right;
  padding: 5px 6px 0px 0px;
}

h1, h2 {
  font-size: 1.5em;
  color: white;
  line-height: 2em;
  display: inline-block;
}

h1 {
  text-align: center;
  width: 57%;
}

h2 {
  font-weight: 200;
}

nav {
  background-color: #007E8A;
  height: 60px;
}

/* end nav element styling */

.map {
  background: url(../images/map.png) no-repeat center;
  width: 100%;
  height: 209px;
}

/* bus list element styling */

.list-title {
  width: 100%;
  height: 50px;
  background-color: #D8D8D8;
}

h3 {
  font-size: 1.8em;
  color: #303030;
  padding: 15px 0px 0px 12px;
}

.bus-list {
  width: 94%;
}

.arrival, .destination {
  font-size: 1.4em;
}

.destination, .frequency, .busnumber-list, .arrow-left {
  float: left;
}

.arrival, .frequency {
  line-height: 1.8em;
  color: #504B4B;
}

.outofservice, .busnumber-list {
  width: 20%;
}

.destination {
  line-height: 1.5em;
  width: 60%;
}

.arrival {
  font-weight: 500;
  float: right;
}

.frequency {
  font-size: 1.2em;
}

.outofservice {
  line-height: 1.2em;
  text-align: right;
}

.busnumber-list {
  height: 30px;
  padding: 18px;
}

.pvert-borderb {
  padding: 15px 0px 50px 0px;
  border-bottom: 0.5px solid #BDBDBD;
}

.bus1, .bus2, .bus3, .bus4, .bus5, .bus6, .bus7, .bus8, .bus9, .map, .statusbar {
  background-size: contain;
}

.bus1 {
  background: url(../images/East60.svg) no-repeat;
}
.bus2 {
  background: url(../images/East124.svg) no-repeat;
}
.bus3 {
  background: url(../images/North151.svg) no-repeat;
}

.bus4 {
  background: url(../images/SouthJ14.svg) no-repeat;
}
.bus5 {
  background: url(../images/South124.svg) no-repeat;
}
.bus6 {
  background: url(../images/RR6x.svg) no-repeat;
}
.bus7 {
  background: url(../images/OOS4.svg) no-repeat;
}
.bus8 {
  background: url(../images/OOS20.svg) no-repeat;
}
.bus9 {
  background: url(../images/OOS157.svg) no-repeat;
}
