*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  font-family: 'BlinkMacSystemFont', Arial, sans-serif;
  font-size: 10px;
}

nav, h1, .statusbar, .map, .bus-list {
  margin: 0 auto;
}

body, .container {
  width: 375px;
}

h3, .arrow-left, .info-icon, .map {
  display: block;
}


/* nav element styling */

.statusbar {
    background: url(../images/statbar.png) no-repeat center;
    width: 98%;
    height: 20px;
}

.arrow-left {
  padding: 5px 10px 0px 5px;
}

.info-icon {
  float: right;
  padding: 5px 6px 0px 0px;
}

h1, h2 {
  font-size: 1.5em;
  color: white;
  line-height: 2em;
  display: inline-block;
}

h1 {
  text-align: center;
  width: 57%;
}

h2 {
  font-weight: 200;
}

nav {
  background-color: #007E8A;
  height: 60px;
}

/* end nav element styling */

.map {
  background: url(../images/map.png) no-repeat center;
  width: 100%;
  height: 209px;
}

/* bus list element styling */

.list-title {
  width: 100%;
  height: 50px;
  background-color: #D8D8D8;
}

h3 {
  font-size: 1.8em;
  color: #303030;
  padding: 15px 0px 0px 12px;
}

.bus-list {
  width: 94%;
}

.arrival, .destination {
  font-size: 1.4em;
}

.destination, .frequency, .arrow-left {
  float: left;
}

.arrival, .frequency {
  line-height: 1.8em;
  color: #504B4B;
}

.destination {
  line-height: 1.5em;
  width: 60%;
}

.arrival {
  font-weight: 500;
  float: right;
}

.frequency {
  font-size: 1.2em;
}

.outofservice {
  line-height: 1.4em;
  width: 16%;
  text-align: right;
}


.pvert-borderb {
  padding: 15px 0px 50px 0px;
  border-bottom: 0.5px solid #BDBDBD;
}

/* Bus box formatting */
.bus-box {
  box-shadow: 1px 1px 1px #5555;
  float: left;
  width: 55px;
  height: 32px;
  border-radius: 5px;
  background-color: white;
  margin: 4px 20px 0 0;
}

.busicon {
  display: inline;
  position: relative;
  left: 7px;
  top: 7px;
  margin-right: 8px;
}

h5 {
  font-weight: 500;
  font-size: 1.3em;
  display: inline;
  position: relative;
  top: 3px;
  margin-right: 7px;
}

.blue {
  border-bottom: 3px solid #5C8FDC;
}

.green {
  border-bottom: 3px solid #60B300;
}

.violet {
  border-bottom: 3px solid #BD10E0;
}

.orange {
  border-bottom: 3px solid #F5A623;
}
